@using PropertyCore.Application.Property.Commands.LocationAudit;
@model LocationAuditResultVm

<div>
    <h2>Location Audit Results</h2>
    @if (ViewBag.ReturnUrl != null)
    {
        <a href="@ViewBag.ReturnUrl"><i class="fas fa-angle-left"></i> Back</a>
    }
    <a asp-controller="Property" asp-action="Audit"><i class="fas fa-angle-left"></i> Property Audit</a>

    <hr />
    <br />
    <h3>@Model.Location.Type - @Model.Location.Name</h3>
    <form asp-action="LocationFile" method="post">
        <input type="hidden" id="LocationId" name="LocationId" value="@Model.Location.Id" />
        <input type="hidden" asp-for="@Model.BarCodes" />
        <button type="submit" class="btn btn-success"><i class="far fa-file-excel"></i> Download Results</button>
    </form>
    <br />
    <h4>Successfully found <span class="text-success">@Model.FoundItemsCount</span> items.</h4>
    <hr />
    <h4><span class="text-danger">@Model.NotPresent.Count</span> Scanned Items found outside Location</h4>
    @if(Model.NotPresent.Count > 0)
    {
        <div class="table-responsive-sm stickyHeaderTable">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>
                            Barcode
                        </th>
                        <th>
                            Case No
                        </th>
                        <th>
                            Sheet No
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Disposition
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Hold Status
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.NotPresent)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Property"
                                   asp-action="Details"
                                   asp-route-InstanceId="@item.InstanceId"
                                   asp-route-SeqNo1="@item.SeqNo1"
                                   asp-route-returnUrl="/Property/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")"
                                   target="_blank">
                                    @item.BarCode
                                </a>
                            </td>
                            <td>
                                @item.CaseNumber
                            </td>
                            <td>
                                @item.PropertySheetNumber
                            </td>
                            <td class="text-danger">
                                @item.CurrentLocation
                            </td>
                            <td>
                                @item.CurrentDisposition
                            </td>
                            <td>
                                @item.PropertyType
                            </td>
                            <td>
                                @item.ItemQuantity
                            </td>
                            <td>
                                @item.HoldStatus
                            </td>
                            <td>
                                @item.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <span class="text-success">No Items Found</span>
    }
    <hr />
    <h4><span class="text-info">@Model.NotScanned.Count</span> Items in Location that were not Scanned</h4>
    @if (Model.NotScanned.Count > 0)
    {
        <div class="table-responsive-sm stickyHeaderTable">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>
                            Barcode
                        </th>
                        <th>
                            Case No
                        </th>
                        <th>
                            Sheet No
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Disposition
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Hold Status
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.NotScanned)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Property"
                                   asp-action="Details"
                                   asp-route-InstanceId="@item.InstanceId"
                                   asp-route-SeqNo1="@item.SeqNo1"
                                   asp-route-returnUrl="/Property/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")"
                                   target="_blank">
                                    @item.BarCode
                                </a>
                            </td>
                            <td>
                                @item.CaseNumber
                            </td>
                            <td>
                                @item.PropertySheetNumber
                            </td>
                            <td class="text-info">
                                @item.CurrentLocation
                            </td>
                            <td>
                                @item.CurrentDisposition
                            </td>
                            <td>
                                @item.PropertyType
                            </td>
                            <td>
                                @item.ItemQuantity
                            </td>
                            <td>
                                @item.HoldStatus
                            </td>
                            <td>
                                @item.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <span class="text-success">No Items Found</span>
    }
</div>