﻿@using PropertyCore.Application.Property.Queries.GetPropertyList
@model PropertyListVm

<div>
    <h2>Property List</h2>
    <hr />
    <form action="" method="get" class="floatingForm">
        <div class="form-row align-items-top mb-2">
            <div class="col-md-3">
                <input type="text" name="BarCodeSearch" class="form-control form-control-sm" value="@Model.BarCode" placeholder="Search by Bar Code" />
            </div>
            <div class="col-md-3">
                <input type="text" name="CaseNumberSearch" class="form-control form-control-sm" value="@Model.CaseNumber" placeholder="Search by Case Number" />
            </div>
            <div class="col-md-3">
                <input type="text" name="PropertySheetSearch" class="form-control form-control-sm" value="@Model.PropertySheet" placeholder="Search by Property Sheet" />
            </div>
        </div>
        <div class="form-row align-items-top mb-2">
            <div class="col-md-3">
                <select name="SelectedPropertyTypeId" id="SelectedPropertyTypeId" style="width: 100%" class="form-control form-control-sm selectpicker" asp-items="@(new SelectList(Model.PropertyTypes, "Value", "Text", Model.SelectedPropertyTypeId))">
                    <option disabled selected>Choose Type</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="SelectedPropertyCategory" id="SelectedPropertyCategory" style="width: 100%" class="form-control form-control-sm selectpicker" asp-items="@(new SelectList(Model.PropertyCategories, "Value", "Text", Model.SelectedPropertyCategory))">
                    <option disabled selected>Choose Category</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="SelectedPropertyStatusId" id="SelectedPropertyStatusId" style="width: 100%" class="form-control form-control-sm selectpicker" asp-items="@(new SelectList(Model.PropertyStatuses, "Value", "Text", Model.SelectedPropertyStatusId))">
                    <option disabled selected>Choose Status</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="SelectedPropertyHoldStatusId" id="SelectedPropertyHoldStatusId" style="width: 100%" class="form-control form-control-sm selectpicker" asp-items="@(new SelectList(Model.HoldStatuses, "Value", "Text", Model.SelectedPropertyHoldStatusId))">
                    <option disabled selected>Choose Status</option>
                </select>
            </div>
        </div>
        <div class="form-row align-items-center mb-2">
            <div class="col-auto mb-2">
                <button type="submit" class="btn btn-primary" id="filterSubmit" formaction="/Property/Index"><i class="fas fa-search"></i> Search</button>
                <button type="submit" class="btn btn-success" id="filterSubmit" formaction="/Property/Download"><i class="far fa-file-excel"></i> Download</button>
                @if (!string.IsNullOrEmpty(Model.BarCode) 
                    || !string.IsNullOrEmpty(Model.CaseNumber) 
                    || !string.IsNullOrEmpty(Model.PropertySheet) 
                    || !string.IsNullOrEmpty(Model.CurrentSort)
                    || !string.IsNullOrEmpty(Model.SelectedPropertyTypeId)
                    || !string.IsNullOrEmpty(Model.SelectedPropertyCategory)
                    || !string.IsNullOrEmpty(Model.SelectedPropertyStatusId)
                    || !string.IsNullOrEmpty(Model.SelectedPropertyHoldStatusId)
                )
                {
                    <a type="reset" class="btn btn-info" asp-action="Index" asp-controller="Property"><i class="fas fa-arrow-left"></i> Reset</a>
                }
            </div>
        </div>
    </form>
    @if (Model.PropertyItems.Count > 0)
    {
        <div class="table-responsive-sm">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th colspan="11">
                            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                                 page-class="" page-class-normal=""
                                 page-class-selected="active"
                                 page-url-sortOrder="@Model.CurrentSort"
                                 page-url-barCodeSearch="@Model.BarCode"
                                 page-url-caseNumberSearch="@Model.PropertySheet"
                                 class="btn-group">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="11">
                            <small>@Model.PagingInfo.Caption</small>
                        </th>
                        
                    </tr>
                    <tr>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.AgencyNameSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Agency Name">
                                Agency Name
                                @if (Model.CurrentSort == "agencyName_desc")
                                {
                                    <i class="fas fa-sort-numeric-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-numeric-up-alt"></i>
                                }
                            </a>

                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.BarCodeSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Bar Code">
                                BarCode
                                @if (Model.CurrentSort == "barCode_desc")
                                {
                                    <i class="fas fa-sort-numeric-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-numeric-up-alt"></i>
                                }
                            </a>
                            
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.PropertySheetSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Property Type">
                                Type
                                @if (Model.CurrentSort == "propertyType_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.PropertyCategorySort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Property Category">
                                Category
                                @if (Model.CurrentSort == "propertyCategory_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.StatusSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Property Status">
                                Status
                                @if (Model.CurrentSort == "status_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.DateSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Date Obtained">
                                Date Obtained
                                @if (Model.CurrentSort == "dateObtained_asc")
                                {
                                    <i class="fas fa-sort-numeric-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-numeric-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.CaseNumberSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Case Number">
                                Case Number
                                @if (Model.CurrentSort == "caseNumber_desc")
                                {
                                    <i class="fas fa-sort-numeric-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-numeric-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.PropertySheetSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Property Sheet">
                                Property Sheet
                                @if (Model.CurrentSort == "propertySheet_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.DispositionSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Disposition">
                                Disposition
                                @if (Model.CurrentSort == "disposition_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.LocationSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Location">
                                Location
                                @if (Model.CurrentSort == "location_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                        <th>
                            <a asp-page="/Index"
                               asp-route-sortOrder="@Model.HoldStatusSort"
                               asp-route-caseNumberSearch="@Model.CaseNumber"
                               asp-route-barCodeSearch="@Model.BarCode"
                               asp-route-propertySheetSearch="@Model.PropertySheet"
                               title="Sort by Hold Status">
                                Hold Status
                                @if (Model.CurrentSort == "holdStatus_desc")
                                {
                                    <i class="fas fa-sort-alpha-up"></i>
                                }
                                else
                                {
                                    <i class="fas fa-sort-alpha-up-alt"></i>
                                }
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PropertyListPropertyItemDto r in Model.PropertyItems)
                    {
                        <tr>
                            <td>
                                @r.AgencyName
                            </td>
                            <td>
                                <a asp-controller="Property"
                                   asp-action="Details"
                                   asp-route-InstanceId="@r.InstanceId"
                                   asp-route-SeqNo1="@r.SeqNo1"
                                   asp-route-returnUrl="/Property/Index@(!String.IsNullOrEmpty(Context.Request.QueryString.ToString()) ? $"{Context.Request.QueryString}" : "")">
                                    @r.BarCode
                                </a>
                            </td>
                            <td>
                                @r.PropertyType
                            </td>
                            <td>
                                @r.PropertyCategory
                            </td>
                            <td>
                                @r.Status
                            </td>
                            <td>
                                @r.ObtainedDate
                            </td>
                            <td>
                                @r.CaseNumber
                            </td>
                            <td>
                                @r.PropertySheetNumber
                            </td>
                            <td>
                                @r.CurrentDisposition
                            </td>
                            <td>
                                @r.CurrentLocation
                            </td>
                            <td>
                                @r.HoldStatus
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-center">
            <h5>No Property Items Found</h5>
        </div>
    }
</div>
@section Head {
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SelectedPropertyTypeId").select2({
                placeholder: "Select Property Type",
                allowClear: true
            });
            $("#SelectedPropertyCategory").select2({
                placeholder: "Select Category",
                allowClear: true
            });
            $("#SelectedPropertyStatusId").select2({
                placeholder: "Select Status",
                allowClear: true
            });
            $("#SelectedPropertyHoldStatusId").select2({
                placeholder: "Select Hold Status",
                allowClear: true
            });
        });
    </script>
}
